.cart-container {
  background: white;
  border-radius: 12px;
  padding: 16px;
  color: #333;
  font-weight: bold;
}

/* Esconde versão mobile no desktop */
.cart-mobile {
  display: none;
}

/* Layout Desktop */
.cart-desktop .cart-header,
.cart-desktop .cart-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 40px;
  align-items: center;
  padding: 8px 0;
  
}
.cart-header{
  color: gray;
}

.cart-product {
  display: flex;
  gap: 12px;
  align-items: center;
}

.cart-product img {
  width: 60px;
  border-radius: 8px;
}



.cart-qty input {
  width: 40px;
  text-align: center;
}

.cart-footer {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  gap: 10px;
  font-weight: bold;
}

.btn-continuar{
  background-color: #28a745;
}
.label-total-desktop{
  color: gray;
}

.label-total{
  color: gray;
}
.buttons-footer{
  display: flex;
  gap: 10px;
}



/* Layout Mobile */
.cart-card {
  padding: 12px 0;
}

.cart-card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.cart-card-info img {
  width: 60px;
  border-radius: 8px;
}

.cart-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.cart-total{
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .cart-desktop {
    display: none;
  }
  .cart-mobile {
    display: block;
  }
  .cart-card-info{
    .img-delete{
      width: 6%;
    }
  }

  .cart-footer {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    .btn-continuar,
    .btn-finalizar{
      width: 100%;
    }
    .cart-total-conteiner{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
